<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="慶應義塾大学公認団体 宇宙科学総合研究会(LYNCS)の公式サイトです。天文・工学・理学など、幅広いフィールドで活動しています。">
<meta name="keywords" content="宇宙科学総合研究会,LYNCS,リンクス,宇宙,宇宙工学,天文,天体,星,工学,物理学,数学,慶應,慶応,慶應義塾大学,慶応義塾大学,慶應大学,慶応大学,サークル">
<link rel="shortcut icon" href="<%= rootPath %>img/favicon.ico">
<title><%= title %></title>

<link rel="stylesheet" type="text/css" href="<%= rootPath %>css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="<%= rootPath %>css/content.css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<style type="text/css">
BODY {
  background-color: #ffffff;
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  background-attachment:fixed;             /* 背景画像を固定する */
  background-size: cover;
  margin: 0px;
}
</style>
<script type="text/javascript" src="<%= rootPath %>js/google-analytics.js"></script>
