<div class="flex header hamburger">
  <a href="<%= rootPath %>"><img src="<%= rootPath %>img/lyncs_logo.svg" alt="慶應義塾大学公認団体 宇宙科学総合研究会" id="logo"></a>
  <div class="hamburger_button">MENU <span class="fa fa-bars" aria-hidden="true"></span></div>
  <nav>
    <ul class="side">
    <li><a href="<%= rootPath %>" class="links_a">HOME</a></li>
    <li><a href="<%= rootPath %>about" class="links_a">LYNCSについて</a></li>
    <li><a href="<%= rootPath %>sat" class="links_a">工学研究本部</a></li>
    <li><a href="<%= rootPath %>astro" class="links_a">天文研究本部</a></li>
    <li><a href="<%= rootPath %>science" class="links_a">理学研究本部</a></li>
    <li><a href="<%= rootPath %>advance" class="links_a">先進技術研究本部</a></li>
    <li><a href="http://lyncs.hateblo.jp/" target="_blank" class="links_a">Blog</a></li>
    <li> <a href="https://twitter.com/keio_LYNCS" target="_blank" class="links_a">Twitter</a> </li>
    </ul>
  </nav>
</div>